.App {
  text-align: center;
  margin-top: 50px;
}

h1 {
  font-size: 3em;
  margin-bottom: 50px;
}

.game {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
}

.player,
.opponent {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 50px;
}

.moves {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

button {
  font-size: 1.5em;
  padding: 10px 20px;
}

.result {
  font-size: 2em;
  font-weight: bold;
}
.results {
  margin-top: 20px;
  padding: 10px;
  background-color: #f8f8f8;
  border-radius: 5px;
  text-align: center;
}

.results h2 {
  font-size: 24px;
  margin-bottom: 10px;
}

.results p {
  font-size: 18px;
}
.win-rate {
  margin-top: 20px;
  font-size: 1.5rem;
  font-weight: bold;
}
